<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Codename_INHA_more</title>

</head>
{%extends 'base.html'%}
{%block contents%}
<body>
    <br><br>
    <div class="container">
        <div class="card">
            <h5 class="card-header">{{blog.title}}</h5>
            <div class="card-body">
                <h5 class="card-title">{{blog.pub_date}}</h5>
                <p class="card-text">{{blog.body}}</p>
                <a href="{% url 'home' %}" class="btn btn-primary">home</a>
            </div>
        </div>
    </div>
</body>
{%endblock%}
</html>