<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Codename_INHA</title>

</head>
{%extends 'base.html'%}
{%block contents%}
<body>
    <br><br>
    <div class="container">
        {% for blogs in blogs.all %}
        <div class="card">
            <h5 class="card-header">{{blogs.title}}</h5>
            <div class="card-body">
                <h5 class="card-title">{{blogs.pub_date}}</h5>
                <p class="card-text">{{blogs.summary}}</p>
                <a href="{%url 'detail' blogs.id%}" class="btn btn-primary">more</a>
            </div>
        </div>
        <br><br>
        {%endfor%}
    </div>
</body>
{%endblock%}
</html>